<div id=core>
    <div id="sourcecountry">
      <label>Source country:</label>
      <select [(ngModel)]="sourceCountryName" (ngModelChange)="onChangeSourceCountry($event)">
         <option [value]="selectUndefinedOptionValue">-- select --</option>
         <option *ngFor="let country of countryList">{{country.country}}</option>
      </select>
      <p>Currency: {{selectedSourceCountry.name}} - {{selectedSourceCountry.currencySymbol}}</p>
      <p>
      <label>Exchange: </label>
      <select [(ngModel)]="selectedSourceExchange" (ngModelChange)="onChangeSourceExchange($event)">
         <option [value]="selectUndefinedOptionValue">-- select --</option>
         <option *ngFor="let exchange of selectedSourceCountry.exchanges">{{exchange.name}}</option>
      </select>
      <p>
      <label>Amount:</label><input [(ngModel)]="amount" type="number" min="1" step="0.01" />

   </div>
 
   <div id="targetcountry">
      
      <div>
        <label>Target country: </label>
      <select [(ngModel)]="targetCountryName" (ngModelChange)="onChangeTargetCountry($event)">
         <option [value]="selectUndefinedOptionValue">-- select --</option>
         <option *ngFor="let country of countryList">{{country.country}}</option>
      </select>
      <p>Currency: {{selectedTargetCountry.name}} - {{selectedTargetCountry.currencySymbol}}</p>
      <p>
      <label>Exchange:</label>
      
      <select [(ngModel)]="selectedTargetExchange" (ngModelChange)="onChangeSourceExchange($event)">
         <option [value]="selectUndefinedOptionValue">-- select --</option>
         <option *ngFor="let exchange of selectedTargetCountry.exchanges">{{exchange.name}}</option>
      </select>
      <p><button (click)="submit()">Go</button>
      </div>
    </div>
    
<div id="result">
   <p *ngIf="errorMessage.length > 0">{{errorMessage}}</p>
   <div *ngIf="errorMessage.length == 0">
      <div class="topResult" *ngIf="arbitrage.sign == '+'">
         <img src="/assets/arrowup.gif" height="30" width="30">
         <span>Bitcoin is beating spot rate by&nbsp;</span><span class="percentageplus">{{arbitrage.percentage}}</span><button (click)="details()">Details</button>
      </div>
      <div class="topResult" *ngIf="arbitrage.sign == '-'">
         <img src="/assets/arrowdown.gif"  height="30" width="30">
         <span>Bitcoin is losing to spot rate by&nbsp;</span><span class="percentageminus">{{arbitrage.percentage}}</span><button (click)="details()">Details</button>
      </div>
      <div class="bottomResult" *ngIf="detailsOpen">
         <div class="rowgrid"><div class="col">Spot Rate:</div><div class="col">{{arbitrage.currencyPair}}&nbsp;{{arbitrage.spotRate}}</div></div>
         <div class="rowgrid"><div class="col">Amount in source currency:</div><div class="col">{{arbitrage.amountInSourceCurrency}}</div></div>
         <div class="rowgrid"><div class="col">Amount in target currency using SPOT RATE:</div><div class="col">{{arbitrage.amountInDestinationCurrencyUsingSpotRate}}</div></div>
         <div class="rowgrid"><div class="col">Amount in target currency using BITCOIN:</div><div class="col">{{arbitrage.amountInDestinationCurrencyAfterBitcoinSale}}</div></div>
         <div class="rowgrid"><div class="col">Bitcoins bought at source country:</div><div class="col">{{arbitrage.numberOfBitcoinsBoughtAtOrigin}}</div></div>
         <div class="rowgrid"><div class="col">Source exchange:</div><div class="col"> {{arbitrage.exchangeSource}}</div></div>
         <div class="rowgrid"><div class="col">Target exchange:</div><div class="col"> {{arbitrage.exchangeDestination}}</div></div>
      </div>
   </div>
</div>    

</div>